{% macro day_name(num) %}
  {%- if num == 1 -%}
    понедельник
  {%- elif num == 2 -%}
    вторник
  {%- elif num == 3 -%}
    среда
  {%- elif num == 4 -%}
    четверг
  {%- elif num == 5 -%}
    пятница
  {%- elif num == 6 -%}
    суббота
  {%- else -%}
    воскресенье
  {%- endif %}
{% endmacro %}

{% macro start_time(event, datetime) -%}
  {{ datetime.fromisoformat(event['start'].get('dateTime', event['start'].get('date'))).strftime('%H:%M') }}
{%- endmacro %}
