{% if events %}
  {% from 'macroses.j2' import day_name, start_time %}

  {%- if diff == 0 -%}
    Сегодня 
  {%- elif diff == 1 -%}
    Завтра
  {%- else -%}
    {{ datetime.fromisoformat(events[0]['start'].get('dateTime', events[0]['start'].get('date'))).strftime('%d.%m') }}
  {%- endif -%}

  , {{ day_name(datetime.fromisoformat(events[0]['start'].get('dateTime', events[0]['start'].get('date'))).strftime('%w') | int) }}

  {%- if total_summary != '' -%}
    , {{ total_summary }}
  {%- endif %}

  {%- if events[0]['summary'] == '' -%}
    {# space #} в {# space #}
      {%- for event in events %}
        {% if not loop.first %}
          {% if loop.last -%}
            {# space #} и {# space #}
          {%- else -%}
            , {# space #}
          {%- endif %}
        {% endif -%}
        {{ start_time(event, datetime) }} 
      {%- endfor %}
  {%- else %}
    {% for event in events +%}
      {# newline #}
      {{- start_time(event, datetime) }} - {{ event['summary'] -}}
    {% endfor %}
  {% endif %}
{% else -%}
  No upcoming events found.
{% endif %}
